<div class="row">
    <div class="col-md-12">
        @if (ShowSuccessBanner)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> @SuccessMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseSuccessBanner"></button>
            </div>
        }
        @if (ShowErrorBanner)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error!</strong> @ErrorMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="CloseErrorBanner"></button>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string SuccessMessage { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }
    [Parameter]
    public bool ShowSuccessBanner { get; set; }
    [Parameter]
    public bool ShowErrorBanner { get; set; }
       
    private void CloseSuccessBanner()
    {
        ShowSuccessBanner = false;
    }

    private void CloseErrorBanner()
    {
        ShowErrorBanner = false;
    }
}
