@page "/collectionGrid"

@using DiscogsInsight.Services
@using DiscogsInsight.ResponseModels
@using System.Collections.ObjectModel
@using DiscogsInsight.ViewModels
@using DiscogsInsight.Components.Layout
@inject CollectionService CollectionService
@inject NavigationManager NavigationManager

@if (_collectionResponse == null)
{
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <img src="images/loading.svg" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>Loading...</em></p>
            </div>
        </div>
    </div>
}
else{
    <RadzenText TextStyle="TextStyle.H4">Collection</RadzenText>
    <RadzenDataGrid 
        AllowFiltering="true" AllowColumnResize="true" 
        AllowAlternatingRows="false" 
        FilterMode="FilterMode.Advanced" 
        AllowSorting="true" 
        PageSize="50" 
        AllowPaging="true"
        Style="width: 100%"
        PagerHorizontalAlign="HorizontalAlign.Left" 
        ShowPagingSummary="true"
        Data="@_collectionResponse.Releases.OrderBy(x => x.Artist)" 
        TItem="ReleaseViewModel"
        LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn 
                TItem="ReleaseViewModel" Property="DiscogsArtistId" 
                Title="Artist" 
                Width="50%"             
                TextAlign="TextAlign.Left">
                    <Template Context="data">
                    <RadzenLink class="m-1" onclick=@(() => GoToArtist(data.DiscogsArtistId)) Text="@data.Artist"></RadzenLink>
                    </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn 
                TItem="ReleaseViewModel" Property="Title" 
                Title="Album" 
                Width="50%" 
                TextAlign="TextAlign.Left">
                <Template Context="data">
                    <RadzenLink class="m-1" onclick=@(() => GoToRelease(data.DiscogsReleaseId)) Text="@data.Title"></RadzenLink>
                </Template>
            </RadzenDataGridColumn>
            @* <RadzenDataGridColumn 
                TItem="ReleaseViewModel" Property="Year" 
                Title="Year" 
                Width="10%" /> *@
        </Columns>
    </RadzenDataGrid>
}
@code {
    private DiscogsCollection? _collectionResponse;
    private IEnumerable<string>? _artistLists;

    void OnSelectedArtistsChange(object value)
    {
        if (_artistLists != null && !_artistLists.Any())
        {
            _artistLists = null;  
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _collectionResponse = await CollectionService.GetCollection();
            // _artistList = _collectionResponse.ArtistList

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error", $"An error occurred: {ex.Message}", "OK");

        }
    }

    void GoToArtist(int? discogsArtistId)
    {
        NavigationManager.NavigateTo("/artist/" + discogsArtistId);
    }

    void GoToRelease(int? releaseId)
    {
        NavigationManager.NavigateTo($"/release/{releaseId}");
    }
}