@page "/"

@inject NavigationManager NavigationManager

<div class="welcome-container">
    <h1>Welcome to DiscogsInsight</h1>
    <p class="lead">Explore your music collection on Discogs.</p>
    @if (_hasKey)
    {
        <a class="btn btn-primary" href="@NavigationManager.ToAbsoluteUri("/collectionGrid")">Explore Collection</a>        
    }
    else
    {
        <label for="userNameInput">Enter Discogs Username: </label>
        <input type="text" @bind="discogsUsername">
        <br />
        <button class="btn btn-primary"   @onclick="handleButtonClick">Store Username</button>
        <hr />
        <p>This app will fetch your Discogs collection (currently up to 1000 items) using your username</p>
        <p>The data will be stored locally and used for gaining statistical insights into your collection.</p>
    }
</div>



@code{
    private static bool _hasKey { get; set; }
    private string discogsUsername = string.Empty;

    public void handleButtonClick()
    {
        Preferences.Default.Set("discogsUsername", discogsUsername);
        _hasKey = true;
    }

    protected override void OnInitialized()
    {
        _hasKey = Preferences.Default.ContainsKey("discogsUsername");
    }
}