@page "/release/{releaseId:int?}"

@using System.Collections.ObjectModel
@using DiscogsInsight.View.Services.Releases
@using DiscogsInsight.ViewModels
@using DiscogsInsight.Components
@using DiscogsInsight.ViewModels.EntityViewModels
@using DiscogsInsight.View.Services.Notifications
@using DiscogsInsight.ViewModels.Results
@inject UserNotificationService UserNotificationService
@inject ReleaseViewService ReleaseViewService

@if (_release is null)
{
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <img src="/images/loading.svg" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>Loading...</em></p>
            </div>
        </div>
    </div>
}
else
{
    <ReleaseComponent Release="@_release" />
}

@code
{
    [Parameter]
    public int? releaseId { get; set; }
    private ReleaseViewModel? _release;

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            HandleResult(await ReleaseViewService.GetRelease(releaseId));
        }
        catch (Exception ex)
        {
            await UserNotificationService.DisplayNotification("Error", $"{ex.Message}", "OK", "Cancel");
        }
    }

    private async void HandleResult(ViewResult<ReleaseViewModel> result)
    {
        if (result.Success)
        {
            _release = result.Data;
            StateHasChanged();
        }
        else
        {
            await UserNotificationService.DisplayNotification("Error", $"{result.ErrorMessage}", "OK", "Cancel");
        }
    }
}
