@page "/release/{releaseId:int?}"

@using DiscogsInsight.Services
@using DiscogsInsight.ResponseModels
@using System.Collections.ObjectModel
@using DiscogsInsight.ViewModels
@inject ReleaseService ReleaseService

@if (_release is null)
{
    <p>Loading...</p>
}
else
{
    <ReleaseComponent Release="@_release" />
}

@code
{
    [Parameter]
    public int? releaseId { get; set; }

    private ReleaseViewModel _release;

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            _release = await ReleaseService.GetRelease(releaseId);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error", $"An error occurred: {ex.Message}", "OK");
        }
    }
}
