@page "/release/{releaseId:int?}"

@using DiscogsInsight.Services
@using DiscogsInsight.ResponseModels
@using System.Collections.ObjectModel
@using DiscogsInsight.ViewModels
@using DiscogsInsight.Components
@inject ReleaseService ReleaseService

@if (_release is null)
{
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <img src="/images/loading.svg" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><em>Loading...</em></p>
            </div>
        </div>
    </div>
}
else
{
    <ReleaseComponent Release="@_release" />
}

@code
{
    [Parameter]
    public int? releaseId { get; set; }

    private ReleaseViewModel _release;

    protected override async Task OnInitializedAsync()
    {
        try
        {            
            _release = await ReleaseService.GetRelease(releaseId);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error", $"An error occurred: {ex.Message}", "OK");
        }
    }
}
