@page "/settings"
@using DiscogsInsight.View.Services.Settings
@using DiscogsInsight.Components
@inject NavigationManager NavigationManager
@inject SettingsViewService SettingsViewService

<div class="container mt-5">
    <div class="row mb-3">
        <RadzenText Text="Settings" TextStyle="TextStyle.DisplayH4" />
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <p>Change your Discogs username. <strong><br />Warning: </strong>This will DELETE all of your saved collection data. The task will take a while to complete for larger collections.</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="userNameInput">Discogs Username:</label>
            <input type="text" class="form-control" @bind="discogsUsername">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <button class="btn btn-primary" @onclick="SaveUsername">Save</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <p>Fetch your collection data to update. <strong><br/>Warning: </strong>Deletes items no longer in your Discogs collection from the local db.</p>
            
            <button class="btn btn-primary" @onclick="UpdateApiData">Refresh Collection Data</button>
        </div>
    </div>
   <ErrorComponent SuccessMessage="@SuccessMessage" ErrorMessage="@ErrorMessage" ShowErrorBanner="@ShowErrorBanner" ShowSuccessBanner="@ShowSuccessBanner" />
</div>

@code {
    private string discogsUsername = string.Empty;


    private string ErrorMessage { get; set; }
    private string SuccessMessage { get; set; }
    private bool ShowErrorBanner { get; set; }
    private bool ShowSuccessBanner { get; set; }


    public async void SaveUsername()
    {
        var result = await SettingsViewService.UpdateDiscogsUsername(discogsUsername);
        if (result.Success)
        {
            ShowSuccessBanner = true;
            SuccessMessage = "Success: Saved Username";
        }
        else
        {
            ShowErrorBanner = true;
            ErrorMessage = result.ErrorMessage;
        }
        StateHasChanged();

    }

    public async Task UpdateApiData()
    {
        var result = await SettingsViewService.UpdateCollection();
        if (result.Success)
        {
            ShowSuccessBanner = true;
            SuccessMessage = "Success: Updated Collection";
        }
        else
        {
            ShowErrorBanner = true;
            ErrorMessage = result.ErrorMessage;
        }
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        discogsUsername = SettingsViewService.GetDiscogsUsername();
    }        
}